empapp-cxf-client/src/main/resources/wsdl/employees.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://empapp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmployeesWebServiceService" targetNamespace="http://empapp/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://empapp/" elementFormDefault="unqualified" targetNamespace="http://empapp/" version="1.0">

  <xs:element name="findEmployeeById" type="tns:findEmployeeById"/>

  <xs:element name="findEmployeeByIdResponse" type="tns:findEmployeeByIdResponse"/>

  <xs:complexType name="findEmployeeById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:findEmployeeByIdWdto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findEmployeeByIdWdto">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findEmployeeByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employeeWdto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employeeWdto">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findEmployeeById">
    <wsdl:part element="tns:findEmployeeById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findEmployeeByIdResponse">
    <wsdl:part element="tns:findEmployeeByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeesWebService">
    <wsdl:operation name="findEmployeeById">
      <wsdl:input message="tns:findEmployeeById" name="findEmployeeById">
    </wsdl:input>
      <wsdl:output message="tns:findEmployeeByIdResponse" name="findEmployeeByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesWebServiceServiceSoapBinding" type="tns:EmployeesWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findEmployeeById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findEmployeeById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findEmployeeByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesWebServiceService">
    <wsdl:port binding="tns:EmployeesWebServiceServiceSoapBinding" name="EmployeesWebServicePort">
      <soap:address location="http://localhost:8080/services/employees"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>